@using Lexvor.Areas.Admin.Controllers
@model IEnumerable<Lexvor.API.Objects.StockedSim>
@{
	ViewData["Title"] = "Stocked Sims";
	Layout = "_AdminLayout";
}

<style>
	.form-control.input-sm {
		width: auto;
		padding: 0 5px;
		margin: 0 10px;
		height: 40px;
	}

	.dataTables_length, .dataTables_filter {
		width: 50%;
	}

	.dataTables_length label {
		float: left;
	}

	.dataTables_filter label {
		float: right;
	}

	ul.pagination li {
		padding: 2px 10px;
		border: 1px solid #e0e6ed;
		border-radius: 5px;
		margin: 0 3px;
	}
</style>

<ul class="list-group media-list media-list-stream mb-4">
	<li class="media list-group-item p-4">
		<div class="media-body">
			<h4>SIMs</h4>
			<table class="table" id="SIM-table">
				<thead>
					<tr>
						<th>ICC Number</th>
						<th>Date Added</th>
						<th>Available</th>
						<th>Deactivate</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model) 
					{
					    <tr>
						@if (!item.Available)
						{
							<td><a href="@Url.Action(nameof(UserPlansController.Index), UserPlansController.Name)">@item.ICCNumber</a></td>
						}
						else
						{
							<td>@item.ICCNumber</td>
						}
						<td>@item.DateAdded</td>
						<td>@item.Available</td>
						<td>
							@if (item.Available)
							{
								<a href="@Url.Action(nameof(SIMController.Deactivate), SIMController.Name, new { id = item.Id })"><i class="fas fa-minus-circle text-danger"></i></a>
							}
						</td>
						<td>
							@if (!item.Available)
							{
								<a href='#' data-toggle="modal" id="@item.Id" class="btn badge badge-danger" onclick="UnAssign(this.id)" data-target="#UnAssignSimModal">UnAssign</a>
							}
						</td>
					</tr>
					}
				</tbody>
			</table>

			<div class="row">
				<div class="col-md-4">
					<form asp-action="UploadSims">
						<div class="form-group">
							<label for="sims" class="control-label"></label>
							<input name="sims" class="form-control" />
						</div>

						<div class="form-group">
							<input type="submit" value="Upload" class="btn btn-default" />
						</div>
					</form>
				</div>
			</div>

		</div>
	</li>
</ul>

<div id="UnAssignSimModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<input type="hidden" id="stockedSimId" />
				<h5 class="modal-title">UnAssign Sim</h5>
				<br>
				<div class="row">
					<p>You are about to unassign a SIM card. If this SIM is on an active line you will cause inconsistent data. Be sure that this is what you want to do.</p>
				</div>
				<br>
				<div class="modal-footer">
					<button type="button" class="btn btn-info clickable" id="unAssignSim">UnAssign</button>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script src="~/libs/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="~/libs/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

	<script>
		var mainTable;

		mainTable = $("#SIM-table").DataTable({
			"dom": 'Blfrtp',
			"info": false,
			"searching": true,
			"ordering": true,
			"scrollX": false,
			"order": [[0, "asc"]],
			'orderCellsTop': true,
			'fixedHeader': true
		});
		$('#SIM-table thead tr').clone(true).appendTo('#SIM-table thead');
		$('#SIM-table thead tr:eq(1) th').each(function (i) {
			var title = $(this).text();
			$(this).html('<input type="text" placeholder="Search ' + title + '" />');

			$('input', this).on('keyup change', function () {
				if (mainTable.column(i).search() !== this.value) {
					mainTable
						.column(i)
						.search(this.value)
						.draw();
				}
			});
		});

		function UnAssign(id) {			
			$("#stockedSimId").val(id);
		}

		$(document).on("click",
			"#unAssignSim",
			function () {
				$.ajax({
					type: "Post",
					url: "/admin/SIM/UnAssignSim",
					data: {
						id: $("#stockedSimId").val(),
					},
					dataType: "json",
					success: function (response) {
						if (response) {
							$('#UnAssignSimModal').modal('hide');
							window.location.reload();
						}						
					}
				});
			})
	</script>
}